In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, wilcoxon, ttest_rel, ttest_ind
from statsmodels.stats.power import ttest_power

In [2]:
Titan_IC = pd.read_excel("Titan_Insurance_.xlsx", index_col=0)
Titan_IC

             Old Scheme (in thousands)  New Scheme (in thousands)
SALESPERSON
1                                   57                         62
2                                  103                        122
3                                   59                         54
4                                   75                         82
5                                   84                         84
6                                   73                         86
7                                   35                         32
8                                  110                        104
9                                   44                         38
10                                  82                        107
11                                  67                         84
12                                  64                         85
13                                  78                         99
14                                  53                         39
15                                  41                         34
16                                  39                         58
17                                  80                         73
18                                  87                         53
19                                  73                         66
20                                  65                         78
21                                  28                         41
22                                  62                         71
23                                  49                         38
24                                  84                         95
25                                  63                         81
26                                  77                         58
27                                  67                         75
28                                 101                         94
29                                  91                        100
30                                  50                         68

In [3]:
Titan_IC['Old Scheme (in thousands)'] = Titan_IC['Old Scheme (in thousands)'] * 1000
Titan_IC['New Scheme (in thousands)'] = Titan_IC['New Scheme (in thousands)'] * 1000

1. Find the mean of old scheme and new scheme column.

In [4]:
mean_old = Titan_IC['Old Scheme (in thousands)'].mean()
mean_new = Titan_IC['New Scheme (in thousands)'].mean()
print(mean_old, mean_new)

68033.33333333333 72033.33333333333

2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [5]:
# Null Hypothesis: The scheme has not made a significant difference (μ1 = μ2). 
# Alternate Hypothesis: The scheme has made a significant difference (μ1 ≠ μ2).

#Paired sample t-test
t_statistic, p_value = ttest_rel(Titan_IC['Old Scheme (in thousands)'], Titan_IC['New Scheme (in thousands)'])
print(t_statistic, p_value)

-1.5559143823544377 0.13057553961337662

In [6]:
# Check if p_value is greater than significance value (market value: 0.05) or not
if (p_value < 0.05):
    print("Null Hypothesis is rejected.")
else:
    print("Failed to reject Null Hypothesis.")

Failed to reject Null Hypothesis.

3. What conclusion does the test (p-value) lead to?

In [7]:
# Conclusion: The scheme has not made a significant difference, i.e. μ1 = μ2!

4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

a) The probability of a type 1 error?

In [8]:
# The probability of type 1 error (alpha) is 0.05

b) What is the p- value of the hypothesis test if we test for a difference of $5000?

In [9]:
# Null Hypothesis: The scheme has not made a break even, i.e., (μ1 - μ2) < 5000. 
# Alternate Hypothesis: The scheme has not made a break even, i.e., (μ1 - μ2) >= 5000.

t_statistic, p_value = ttest_rel(Titan_IC['Old Scheme (in thousands)'], Titan_IC['New Scheme (in thousands)'])
print(t_statistic, p_value)

-1.5559143823544377 0.13057553961337662

In [10]:
# Check if p_value is greater than significance value (market value: 0.05) or not
if (p_value < 0.05):
    print("Null Hypothesis is rejected.")
else:
    print("Failed to reject Null Hypothesis.")

Failed to reject Null Hypothesis.

In [11]:
print(p_value)

0.13057553961337662

c) Power of the test

In [12]:
D = ((mean_new - mean_old) - 5000) / np.sqrt(((30-1)*np.var(Titan_IC['Old Scheme (in thousands)']) + (30-1)*np.var(Titan_IC['New Scheme (in thousands)'])) / 30+30-2)

In [13]:
print(ttest_power(D, nobs=30, alpha=0.05, alternative="larger"))

0.03436957807506458